.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: $text-color;
  font-size: 1rem;
  cursor: pointer;
}

body.dark-theme {
  --title-color: #f1f3f2;
  --text-color: #c7d1cc;
  --body-color: #1d2521;
  --container-color: #27302c;
}
