@import "variables";
@import "nav-bar";

/* ========= Base ==========*/

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: $header-height 0 0 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ========= CSS CLASSES ==========*/

.section {
  padding: 4rem 0 2rem;
}

.section-subtitle {
  display: block;
  text-align: center;
  color: $first-color;
  font-weight: $font-medium;
  margin-bottom: $mb-1;
}

.section-title {
  text-align: center;
  font-size: $h1-font-size;
  color: $title-color;
  margin-bottom: $mb-3;
}

.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: rgba(6, 156, 84, 0.5);
  border-radius: 0.4rem;
  z-index: $z-tooltip;
  transition: 0.4s;
  visibility: hidden;

  &:hover {
    background-color: $first-color-alt;
  }

  .scrolltop__icon {
    font-size: 1.8rem;
    color: $body-color;
  }
}

/*  Show scrolltop */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*  button class */
.button {
  display: inline-block;
  background-color: $first-color;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;

  &:hover {
    background-color: $first-color-alt;
  }
}

/* ========= LAYOUT ==========*/

.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin: 0 $mb-2;
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $body-color;
}

/* ========= Imports ==========*/

@import "home";
@import "about";
@import "services";
@import "menu";
@import "app_section";
@import "contact";
@import "footer";
@import "media-queries";
@import "theme-change";
